<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testngfeatures.DependsonMethod"/>
      <class name="Testngfeatures.Groups"/>
      <class name="Paralleltesting.parallel1"/>
      <class name="Testngfeatures.Group2"/>
      <class name="Testng.retrytest1"/>
      <class name="Paralleltesting.parallel2"/>
      <class name="Testng.practise"/>
      <class name="Testng.Assertions"/>
      <class name="Testng.Dataprovide1"/>
      <class name="Testng.Windowhandles"/>
      <class name="Testng.Dataproviders"/>
      <class name="Testng.annotaions"/>
      <class name="Testngfeatures.priority1"/>
      <class name="Testngfeatures.priority"/>
      <class name="Testngfeatures.enabledtest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
